[Unit]
Description=uWSGI instance to serve api
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/ML_API
Environment="PATH=/home/pi/ML_API/apienv/bin"
ExecStart=/home/pi/ML_API/apienv/bin/uwsgi --ini api.ini


[Install]
WantedBy=multi-user.target

